.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 100%;
    text-indent: 32px;
    border-radius: 3px;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff inset;

}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 15px;
}


.lightGray {
    background-color: lightgrey;
}

.commentsSection {
    left: 50px;
    right: 50px;
}

.commentEntry {
    padding: 10px;
}

.commentsForm {
    margin-top: 10px;
}

md-list-item img {
    border-radius: 10%;
}

.commentEntry p {
    font-family: 'Lucida Grande', serif;
    font-size: larger;
    color: #aaaaaa;
}

textarea {
    resize: vertical;
}